.text-center {
    text-align: center;
}

.info-title {
    font-family: 'Monoton', cursive;
}

.entry-content-heading-1 {
    padding: 0.25em 0.5em; /*上下 左右の余白*/
    color: #494949; /*文字色*/
    background: transparent; /*背景透明に*/
    border-left: solid 5px #d01855; /*左線*/
}

.entry-content-heading-2 {
    padding: 0.25em 0.5em; /*上下 左右の余白*/
    color: #494949; /*文字色*/
    background: transparent; /*背景透明に*/
    border-left: solid 5px #ff3085; /*左線*/
}

.entry-content-heading-3 {
    padding: 0.25em 0.5em; /*上下 左右の余白*/
    color: #494949; /*文字色*/
    background: transparent; /*背景透明に*/
    border-left: solid 5px #ff749f; /*左線*/
}

