    <!-- JS -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/mfn.menu.js"></script>
    <script src="/js/jquery.plugins.js"></script>
    <script src="/js/jquery.jplayer.min.js"></script>
    <script src="/js/animations/animations.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        jQuery(window).load(function () {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "images/retina-tuning.png").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "images/retina-tuning.png").width(stickyLogoW).height(stickyLogoH);
                var mobileEl = jQuery("#logo img.logo-mobile");
                var mobileLogoW = mobileEl.width();
                var mobileLogoH = mobileEl.height();
                mobileEl.attr("src", "images/retina-tuning.png").width(mobileLogoW).height(mobileLogoH);
            }
        });
    </script>
