        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section full-width sections_style_0 ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_map tuning_map">
                                        <!-- Google map area -->
                                        <div class="google-map-wrapper no_border " data-anim-type="fadeInUp">
                                            <!--                                            <div class="google-map" id="google-map-area-563cb77532a4e" style="width:100%; height:600px;">-->
                                            <!--                                                &nbsp;-->
                                            <!--                                            </div>-->
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6136.513871186458!2d140.065099!3d39.733879!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ed89c870699e501!2z77yI5pyJ77yJ44G-44KL44KI44GX5bel5qWt!5e0!3m2!1sja!2sus!4v1589781343664!5m2!1sja!2sus"
                                                width="100%" height="200" frameborder="0" style="border:0;"
                                                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section sections_style_0 ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Sixth (1/6) Column -->
                                    <div class="column one-sixth column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_image ">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid"
                                                    src="/images/home_tuning_contact_logo.jpg" alt="" width="108"
                                                    height="230" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one-second column_column ">
                                        <div class="column_attr" style=" padding:0 13% 0 0;">
                                            <hr class="no_line" style="margin: 0 auto 70px;" />
                                            <h3 class="" data-anim-type="fadeInRight">Contact us</h3>
                                            <hr class="no_line hrmargin_b_30" />
                                            <h2 class="" data-anim-type="fadeInRight">お問い合わせ</h2>
                                            <p class="themecolor " data-anim-type="fadeInRight"
                                                style="font-size: 350%; line-height: 80%;">
                                                018-883-0750
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 55px;" />
                                            <div
                                                class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class="image_wrapper"><img class="scale-with-grid"
                                                        src="/images/home_tuning_sep3.png" alt="" width="193"
                                                        height="4" />
                                                </div>
                                            </div>
                                            <hr class="no_line" style="margin: 0 auto 50px;" />
                                            <h4 class="" data-anim-type="fadeInRight">
                                                お問い合わせ後、2~3営業日中に折り返しご連絡いたしますが、もし折り返しご連絡がない場合は、入力ミス等により連絡が取れなくなっていることが考えられます。
                                                お手数をお掛けしますが、再度お電話かお問い合わせフォームにてお問い合わせ下さい。</h4>
                                        </div>
                                    </div>
                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider ">
                                        <hr class="no_line hrmargin_b_40" />
                                    </div>
                                    <!-- One Sixth (1/6) Column -->
                                    <div class="column one-sixth column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_column">
                                        <div class="column_attr" style=" padding:0 10% 0 0;">
                                            <h4 class="" data-anim-type="fadeInLeft">フォームからお問い合わせ</h4>
                                            <hr class="no_line hrmargin_b_30" />
                                            <p style="margin-right: 20%;" class="" data-anim-type="fadeInLeft">
                                                すべての項目を入力した上で送信ボタンを押してください。</p>
                                        </div>
                                    </div>
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one-second column_column " data-anim-type="fadeInRight">
                                        <div class="column_attr">
                                            <div role="form" class="wpcf7" id="wpcf7-f2227-p2214-o1" lang="ja-jp"
                                                dir="ltr">
                                                <div class="screen-reader-response"></div>
                                                <div id="contactWrapper">
                                                    <form method="post" action="php/mail.php">
                                                        <!-- One Second (1/2) Column -->
                                                        <div class="column one-second">
                                                            <input placeholder="お名前（必須）" type="text" name="お名前"
                                                                id="name" size="40" aria-required="true"
                                                                aria-invalid="false" />
                                                        </div>
                                                        <!-- One Second (1/2) Column -->
                                                        <div class="column one-second">
                                                            <input placeholder="Eメール（必須）" type="email" name="Eメール"
                                                                id="email" size="40" aria-required="true"
                                                                aria-invalid="false" />
                                                        </div>
                                                        <div class="column one">
                                                            <input placeholder="タイトル（必須）" type="text" name="件名"
                                                                id="subject" size="40" aria-invalid="false" />
                                                        </div>
                                                        <div class="column one">
                                                            <textarea placeholder="メッセージ（必須）" name="お問い合わせ内容" id="body"
                                                                style="width:100%;" rows="10"
                                                                aria-invalid="false"></textarea>
                                                        </div>
                                                        <div class="column one">
                                                            <input type="submit" value="入力内容の確認へ">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section sections_style_0 ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_column ">
                                        <div class="column_attr align_center">
                                            <div
                                                class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class="image_wrapper"><img class="scale-with-grid"
                                                        src="/images/home_tuning_sep2.png" alt="" width="4"
                                                        height="193" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section the_content no_content">
                            <div class="section_wrapper">
                                <div class="the_content_wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
