      <div id="Content">
        <div class="content_wrapper clearfix">
          <div class="sections_group">
            <div class="entry-content">
              <div
                class="section"
                style="
                  padding-top: 0px;
                  padding-bottom: 0px;
                  background-image: url(/images/home_tuning_sectionbg_3.png);
                  background-repeat: no-repeat;
                  background-position: left top;
                "
              >
                <div class="section_wrapper clearfix">
                  <div class="items_group clearfix">
                    <!-- Two Third (2/3) Column -->
                    <div class="column two-third column_column">
                      <div class="column_attr" style="padding: 160px 0 0 0">
                        <h3 class="" data-anim-type="fadeInUp">Action</h3>
                        <hr class="no_line hrmargin_b_30" />
                        <h2 class="" data-anim-type="fadeInUp">
                          建設業を支える
                        </h2>
                        <h2 class="" data-anim-type="fadeInUp">
                          プロとして生きる
                        </h2>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper">
                            <img
                              class="scale-with-grid"
                              src="/images/home_tuning_sep3.png"
                              alt=""
                              width="193"
                              height="4"
                            />
                          </div>
                        </div>
                        <h4 style="margin-top: 30px">
                          技術と実績を武器に難しい時代に挑戦
                        </h4>
                        <p>
                          昭和中期に創業したまるよし工業（創業者
                          工藤喜博）は、鐵骨建設業者として長く、秋田の建設業界で活躍してきました。昭和という時代の力も借りながら、初代社長を中心とした確かな技術で着実に業績を伸ばしていました。平成17年、秋田市向浜に本社工場の移設したことで、新たな可能性を手にしました。平成19年に、2代目社長
                          工藤喜一が就任。平成22年にMグレードを取得し、現在の基盤をつくり上げました。
                          ２代目工藤社長は「創業者である父が築いた基盤を守りながら、時代のニーズに合わせてシステムを構築できた」と〈平成〉を振り返ります。
                          2代目就任当初、「常に100点を取りにいく」という方針を貫く姿勢が評価され、お客さまとの強い信頼関係に繋がっています。特に、Mグレード取得は、手がける仕事の規模や質に大きな変化をもたらしました。
                          十分な工場施設を持ちMグレードを取得したことで、まるよし工業における必要なステージが整いました。その環境をもとに、この先の展開へ向け会社一丸となって邁進していきます。
                        </p>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                      </div>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third column_column">
                      <div class="column_attr">
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper">
                            <img
                              class="scale-with-grid"
                              src="/images/home_tuning_sep1.png"
                              alt=""
                              width="4"
                              height="271"
                            />
                          </div>
                        </div>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                        <h4 class="" data-anim-type="fadeInUp">
                          昭和48年創業のまるよし工業は、鐵骨加工を手がける会社として、50年近い長きに渡り秋田の建設業界で活躍してきました。昭和、平成、そして令和。３つの時代を駆け抜けながら、秋田に拠点を置く企業としてこれからも県内外の鐵骨加工業の一翼を担っていきます。
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="section no-margin-h"
                style="padding-top: 40px; padding-bottom: 40px"
              >
                <div class="section_wrapper clearfix">
                  <div class="items_group clearfix">
                    <!-- One Third (1/3) Column -->
                    <div class="column one-second column_column dark">
                      <div
                        class="column_attr"
                        style="
                          background-color: #ff0000;
                          padding: 40px 10% 60px;
                        "
                      >
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper"></div>
                        </div>
                        <hr class="no_line hrmargin_b_15" />
                        <h3 class="" data-anim-type="fadeInUp">事業内容</h3>
                        <p
                          class="big"
                          data-anim-type="fadeInUp"
                          style="margin: 30px 0"
                        >
                          ［鋼構造物工事業］
                        </p>
                        <p class="big" data-anim-type="fadeInUp">
                          ［建設工事業］
                        </p>
                      </div>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-second column_column">
                      <div class="column_attr align_center">
                        <hr class="no_line" style="margin: 0 auto 160px" />
                        <div
                          style="background: #e7ecef; padding: 80px 10% 70px"
                        >
                          <div class="chart_box">
                            <div
                              class="chart"
                              data-percent="100"
                              data-color="#000"
                            >
                              <div class="num">100%</div>
                            </div>
                            <div class="big">
                              <p>better performance</p>
                            </div>
                          </div>
                          <hr class="no_line hrmargin_b_20" />
                          <p>お客様満足度100%を目指します。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="section full-width no-margin-h no-margin-v"
                style="
                  padding-top: 30px;
                  padding-bottom: 0px;
                  background-image: url(/images/home_tuning_sectionbg_2.png);
                  background-repeat: no-repeat;
                  background-position: -5% 0;
                "
              >
                <div class="section_wrapper clearfix">
                  <div class="items_group clearfix">
                    <!-- One Sixth (1/6) Column -->
                    <div class="column one-sixth column_placeholder">
                      <div class="placeholder">&nbsp;</div>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third column_column">
                      <div class="column_attr" style="padding: 0 13% 0 8%">
                        <h3 class="" data-anim-type="fadeInUp">Recruit</h3>
                        <hr class="no_line hrmargin_b_30" />
                        <h2 class="" data-anim-type="fadeInUp">採用情報</h2>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper">
                            <img
                              class="scale-with-grid"
                              src="/images/home_tuning_sep3.png"
                              alt=""
                              width="193"
                              height="4"
                            />
                          </div>
                        </div>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                        <h4 class="" data-anim-type="fadeInUp">
                          創業以来50年余り、時代も環境も大きく変遷する中を生き抜いて来た私たちは、今、新たな転換期を迎えています。ここから始まる新しい歴史を、ともに歩んでくれる新しい力を募っています。
                        </h4>
                      </div>
                    </div>
                    <!-- One Second (1/2) Column -->
                    <div
                      class="column one-second column_portfolio_grid tuning_portfolio"
                      data-anim-type="fadeInUp"
                    >
                      <ul class="portfolio_grid">
                        <li>
                          <div class="image_frame scale-with-grid">
                            <div class="image_wrapper">
                              <div class="mask"></div>
                              <img
                                width="960"
                                height="720"
                                src="/images/fix/20230629-4.jpg"
                                class="scale-with-grid wp-post-image"
                                alt="home_tuning_portfolio4"
                              />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image_frame scale-with-grid">
                            <div class="image_wrapper">
                              <div class="mask"></div>
                              <img
                                width="960"
                                height="720"
                                src="/images/fix/20230620-1.jpg"
                                class="scale-with-grid wp-post-image"
                                alt="home_tuning_portfolio3"
                              />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image_frame scale-with-grid">
                            <div class="image_wrapper">
                              <div class="mask"></div>
                              <img
                                width="960"
                                height="720"
                                src="/images/fix/20230620-3.jpg"
                                class="scale-with-grid wp-post-image"
                                alt="home_tuning_portfolio5"
                              />
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="image_frame scale-with-grid">
                            <div class="image_wrapper">
                              <div class="mask"></div>
                              <img
                                width="960"
                                height="720"
                                src="/images/fix/20230629-2.jpg"
                                class="scale-with-grid wp-post-image"
                                alt="home_tuning_portfolio6"
                              />
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!-- Page devider -->
                    <!-- One full width row-->
                    <div class="column one column_divider">
                      <hr class="no_line" />
                    </div>
                    <!-- One Fourth (1/4) Column -->
                    <div class="column one-fourth column_placeholder">
                      <div class="placeholder">&nbsp;</div>
                    </div>
                    <!-- One Fourth (1/4) Column -->
                    <div
                      class="column one-fourth column_image"
                      data-anim-type="fadeInUp"
                    >
                      <div
                        class="image_frame image_item no_link scale-with-grid alignright no_border"
                      >
                        <div class="image_wrapper"></div>
                      </div>
                    </div>
                    <!-- One Fourth (1/4) Column -->
                    <div
                      class="column one-fourth column_column"
                      data-anim-type="fadeInUp"
                    >
                      <div class="column_attr">
                        <div
                          class="clearfix"
                          style="
                            min-height: 470px;
                            padding: 0 0 0 8%;
                            background: url(/images/home_tuning_countersep.png)
                              no-repeat left top;
                          "
                        >
                          <hr class="no_line" style="margin: 0 auto 100px" />
                          <div class="counter counter_vertical -math">
                            <div class="icon_wrapper">
                              <i class="icon-user" style="color: #ff0000"></i>
                            </div>
                            <div class="desc_wrapper">
                              <div class="column one column_portfolio_photo">
                                <div class="portfolio-photo">
                                  <div class="portfolio-item">
                                    <a
                                      class="portfolio-item-bg"
                                      href="works/item-1.html"
                                      ><img
                                        width="1920"
                                        height="800"
                                        src="/images/fix/48.jpg"
                                        class="attachment-full wp-post-image"
                                        alt="home_tuning_portfolio3"
                                      />
                                      <div class="mask"></div>
                                    </a>
                                    <a
                                      class="portfolio-details"
                                      href="/recruit/"                                    >
                                      <div class="details">
                                        <h3 class="title">採用情報へ</h3>
                                        <div class="categories">
                                          社員を通して弊社の仕事をご紹介。
                                        </div>
                                      </div>
                                      <span class="more">
                                        <h4>Read More</h4>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="section full-width no-margin-h no-margin-v"
                data-anim-type="fadeInUp"
                style="
                  padding-top: 0px;
                  padding-bottom: 0px;
                  background-image: url(/images/home_tuning_sectionbg_1.png);
                  background-repeat: no-repeat;
                  background-position: left top;
                "
              >
                <div class="section_wrapper clearfix">
                  <div class="items_group clearfix">
                    <!-- One Sixth (1/6) Column -->
                    <div class="column one-sixth column_placeholder">
                      <div class="placeholder">&nbsp;</div>
                    </div>
                    <!-- One Third (1/3) Column -->
                    <div class="column one-third column_column">
                      <div class="column_attr" style="padding: 0 13% 0 8%">
                        <h3>Contact</h3>
                        <hr class="no_line hrmargin_b_30" />
                        <h2>お問い合わせ</h2>
                        <p
                          class="themecolor"
                          style="font-size: 350%; line-height: 80%"
                        >
                          018-883-0750
                        </p>
                        <hr class="no_line" style="margin: 0 auto 55px" />
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper">
                            <img
                              class="scale-with-grid"
                              src="/images/home_tuning_sep3.png"
                              alt=""
                              width="193"
                              height="4"
                            />
                          </div>
                        </div>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                        <dl class="big">
                          <dt>会社名</dt>
                          <dd>有限会社 まるよし工業</dd>
                          <dt>住所</dt>
                          <dd>〒010-1601 秋田市向浜一丁目6番6号</dd>
                          <dt>電話番号</dt>
                          <dd>018-883-0750</dd>
                          <dt>FAX</dt>
                          <dd>018-883-0720</dd>
                        </dl>
                      </div>
                    </div>
                    <!-- One Second (1/2) Column -->
                    <div class="column one-second column_map tuning_map">
                      <!-- Google map area -->
                      <!-- <div class="google-map-wrapper no_border">
                                        <div class="google-map" id="google-map-area-563cab1ac4109" style="width: 100%; height: 650px;">
                                        </div>
                                    </div> -->
                      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE__n73m8lbuU-8jSuRpEi4sxxhWazF4I"></script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section sections_style_0">
                <div class="section_wrapper clearfix">
                  <div class="items_group clearfix">
                    <!-- One full width row-->
                    <div class="column one column_column">
                      <div class="column_attr align_center">
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper">
                            <img
                              class="scale-with-grid"
                              src="/images/home_tuning_sep2.png"
                              alt=""
                              width="4"
                              height="193"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section the_content no_content">
                <div class="section_wrapper">
                  <div class="the_content_wrapper"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
