      <div id="Content">
        <div class="content_wrapper clearfix">
          <div class="sections_group">
            <div class="entry-content">
              <div class="section sections_style_5">
                <div class="section_wrapper clearfix">
                  <div class="items_group clearfix">
                    <!-- One full width row-->
                    <div class="column one column_column">
                      <div class="column_attr" style="padding: 0 8%">
                        <h3>Message</h3>
                        <hr class="no_line hrmargin_b_30" />
                        <h2 class="" data-anim-type="fadeInUp">
                          未来のまるよし工業のために、今の状況をカタチにしたいと思いました
                        </h2>
                        <hr class="no_line" style="margin: 0 auto 55px" />
                        <div
                          class="image_frame image_item no_link scale-with-grid alignnone no_border"
                        >
                          <div class="image_wrapper">
                            <img
                              class="scale-with-grid"
                              src="/images/home_tuning_sep3.png"
                              alt=""
                              width="193"
                              height="4"
                            />
                          </div>
                        </div>
                        <hr class="no_line" style="margin: 0 auto 50px" />
                        <!-- One Second (1/2) Column -->
                        <div class="column one">
                          <h4 class="" data-anim-type="fadeInLeft">
                            インタビュー「ホームページ製作に寄せて」
                          </h4>
                          <h5
                            style="float: right"
                            class=""
                            data-anim-type="fadeInRight"
                          >
                            有限会社まるよし工業 代表取締役 工藤喜一
                          </h5>
                        </div>
                        <!-- One Second (1/2) Column -->
                        <div class="column one">
                          <h5 class="big themecolor" data-anim-type="fadeInUp">
                            ―まるよし工業の草創期からの歩みを教えてください
                          </h5>
                          <p class="big" data-anim-type="fadeInUp">
                            まるよし工業は昭和48年、父・工藤喜博が創業しました。鐵骨建設、製缶、配管など、鐵構関連の工事を受注する会社です。私が入社した平成16年当時も両親と私、社員３名の６名という規模でしたが、忙しかったのを覚えています。<br />
                            　会社が大きく変わりだしたきっかけは、平成17年に秋田市向浜の旧・秋田造船鐵工秋田工場を買い取ったことです。残念ながら、父は平成19年になくなり、私が2代目として会社を引き継ぐこととなりました。その後、秋田県鐡構工業協同組合に加入するなど会社の形態を整えながら、平成22年にMグレードを所得しました。工場施設を活かしながら、Mグレードという一番需要の多い小・中規模の鐵骨工事を行う環境が整いました。やっとここまできたという感慨がありましたね。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            創業者の父の姿は今でも心に残っています。異業種で働いていた私は、（入社後は）父の背中を見ながら仕事を覚えました。父の死後、社長業を引き継いだあとも「やってもやっても、父には追いつけない」と思っていました。その壁を乗り越えるために「常に100点を取りに行く」という覚悟を持ちました。お客さまの信頼を得るために全力で仕事をすることが、まるよし工業が生き延びるための方法だと思っていました。その思いは今も変わりませんね。
                          </p>
                        </div>
                        <div class="column one">
                          <h5 class="big themecolor" data-anim-type="fadeInUp">
                            ―若い頃、異業種で働いた経験は、今にどうつながっていますか。
                          </h5>
                          <p class="big" data-anim-type="fadeInUp">
                            自分で言うのもなんですが、かなり貴重な体験をしています。高校卒業間近に交通事故に会い、大きな怪我を負いました。「これで死ぬのかな」と思いました。その時の経験は、私の進路や人生観を大きく変えました。死生観はもちろんですが、当時は感覚の目盛りが細かくなり、些細なことにも感動するようになりました。生きることに前向きになりましたね。<br />
                            　退院後、経理専門学校に入学。かなり真面目に勉強したおかげで首席で卒業しました。経理的な思考は私の性格に合っていたようで、今でもかなり助けられています。卒業後は東京へ出て、以前から興味のあった飲食関係の専門学校へ進み、実際に東京都内の飲食店で働きました。秋田に戻ってからも飲食業として働き、いつかは飲食店のオーナーになりたいと思っていました。当時は自分の興味のあることに突き進むような生き方をしていましたが、この経験で得たことは今の仕事にも活かされていますね。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            27歳の頃、父の仕事を手伝う形でまるよし工業に入社。30歳で代表になりました。会社を運営する上で、経理の知識があることがプラスになりました。実務だけでなく、会社の状況を細かく分析した上で方向性を決めることができたのは大きかったと思っています。当時の私は、鐵骨建設業界では素人同然。代表就任時には「業界のことを知らなくて大丈夫か」と心配してくださる声も多かったと思います。その状況を打破するために、「常に100点を取りに行く」という姿勢で、社員一丸となって全力で仕事に向き合ってきました。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            私が代表になって十数年が経ちました。リーマンショック（平成20年）や東日本大震災（平成23年）という大きな危機を乗り越えて現在に至ります。大変なことも多かったですが、異業種経験から培った私なりの視点が私を助けてくれました。試行錯誤するための視点や価値観の引き出しが多かったからこそたどり着けた結論もありましたから。そして、今後、私たちが進もうとしている「まるよし工業スタイル」の基礎になっていると思っています。
                          </p>
                        </div>
                        <div class="column one">
                          <div class="image-container" id="imageContainer">
                            <img
                              id="image1"
                              src="./images/fix/34.jpg"
                              alt="Original Image"
                            />
                            <img
                              id="image2"
                              src="./images/fix/34_change.jpg"
                              alt="Modified Image"
                            />
                          </div>
                        </div>
                        <div class="column one">
                          <h5 class="big themecolor" data-anim-type="fadeInUp">
                            ―この期間に会社はどう変化しましたか。
                          </h5>
                          <p class="big" data-anim-type="fadeInUp">
                            私が代表になった時は、計画的に仕事をこなせる状況からは程遠く、納期に追われる日々でした。社員も不安だったと思います。仕事の質を上げなければいけないという切実な思いも強く、Mグレード取得を目指しました。<br />
                            　結果的に、父が残した本社工場とMグレード取得という二つの武器を持ったことで、仕事の幅が広がりました。実際に手がける建築物の件数・規模なども向上しました。「これで、我が社が今やるべきことのステージが整った」と感慨深かったです。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            移転当時５名だった社員も今では数倍に増えました。工場では経験豊富な技術者が中心となって、組み立て・溶接業務をこなしています。彼らの迅速で正確な仕事が、我が社の評価を押し上げてきました。人員的に力を注いだのは設計部門の育成です。CADの人員確保と育成が急務でした。加工部門と設計部門は、我が社の両輪です。このバランスがとても大切。工場での生産能力をフルに活かすためには、正確で不安要素のない原寸が不可欠です。設計部門は中途採用から新人まで織り交ぜて、人員を増やしてきました。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            また、お客さまとの関係性も変わってきたという自負も持てるようになりました。建設業界は、大手ゼネコンなどが施工者となり、様々な業者とチームを組んで立ち上げるケースが慣例となっています。我が社もその中の一つでしたが、流儀と仕事の質をご理解いただいてからは、直接指名してくださる常連のお客さまが増えました。以前の「仕事はあるけれどロスも多い」という悪循環から抜け出し、質の高い仕事が増えたことも大きな成果だと思っています。
                          </p>
                        </div>
                        <div class="column one">
                          <h5 class="big themecolor" data-anim-type="fadeInUp">
                            ―今、どのような未来が見えていますか。
                          </h5>
                          <p class="big" data-anim-type="fadeInUp">
                            感覚として、ハード面が整った今だからこそ、ソフト面を充実したいと思っています。システム構築と人材確保が当面の課題です。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            お受けした仕事の原寸管理、資材管理、加工管理から納品までの流れを明確にして、関係者が共有できるシステムを構築したいと思っています。必要な加工数量を把握することで工場の稼働余力が明確化し、受注の判断がつけやすくなります。社員全員が確認できる明白なフロー（＝仕事の流れ）があれば、担当する仕事の内容やスケジュールが一目瞭然となって情報のブレが減り、管理しやすくなります。仕事全体のスピード感も増し、効率アップにつながります。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            こういうシステムをつくる目的はいくつかありますが、その一つは、仕事を受けやすくするためです。工場の仕事量が見えれば、複数の仕事を同時進行することも可能です。大きな仕事のチャンスを逃さないために、瞬時に判断するスピード感も期待できます。また、「働き方改革」に法って、会社での労働環境を整えていく上でも、仕事の〈見える化〉の必要性を強く感じています。仕事の質を上げるためには、確かな技術を持った社員が不可欠です。彼らが気持ちよく、長く働ける環境づくりは、代表である私の仕事だと思っています。その意味で、福利厚生の整備にも力を入れています。
                          </p>
                          <p class="big" data-anim-type="fadeInUp">
                            このシステム構築に取り組もうとする根底には、「会社を強くしたい」という思いがあります。会社を強くするというのは、利益を生むことだけではありません。もちろん、それも大切ですが、私は社員を守りたい、お客さまや一緒にチームを組む同業他社との信頼関係を守りたいという思いがあります。それは「お金は大切だけど、人間関係や信頼関係はそれよりも大切」という私自身の人生観に基づいています。縁あって関わった人たちを守るために、自分にできることをやりたい。会社をさらに強くするために、同じ思いで働ける仲間（＝社員）を増やしたいと思っています。<br />
                            　これが今度、未来のまるよし工業ために取り組むべき課題です。
                          </p>
                          <p style="float: right">（2020年３月）</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section the_content no_content">
                <div class="section_wrapper">
                  <div class="the_content_wrapper"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
