      <div id="Header_wrapper">
        <!-- Header -->
        <header id="Header">
          <!-- Header -  Logo and Menu area -->
          <div id="Top_bar">
            <div class="container">
              <div class="column one">
                <div class="top_bar_left">
                  <!-- Logo-->
                  <div class="logo">
                    <a id="logo" href="/" title="有限会社まるよし工業"
                      ><img
                        class="scale-with-grid"
                        src="/images/fix/logo.svg"
                        alt="有限会社まるよし工業"
                        width="169"
                        height="60"
                      />
                    </a>
                  </div>
                  <!-- Main menu-->
                  <div class="menu_wrapper">
                    <nav id="menu" class="menu-main-menu-container">
                      <ul id="menu-main-menu" class="menu">
                        <li>
                          <a href="/"><span>ホーム</span></a>
                        </li>
                        <li>
                          <a href="/business.html"><span>事業内容</span></a>
                        </li>
                        <!--                                            <li>-->
                        <!--                                                <a href="works.html"><span>施工実績</span></a>-->
                        <!--                                            </li>-->
                        <li>
                          <a href="/recruit.html"><span>採用情報</span></a>
                        </li>
                        <li class="current_page_item">
                          <a href="/about-us.html"><span>会社案内</span></a>
                        </li>
                        <li>
                          <a href="/contact.html"><span>お問い合わせ</span></a>
                        </li>
                      </ul>
                    </nav>
                    <a class="responsive-menu-toggle" href="#"
                      ><i class="icon-menu"></i
                    ></a>
                  </div>
                  <!-- Secondary menu area - only for certain pages -->
                  <div class="secondary_menu_wrapper"></div>
                  <!-- Banner area - only for certain pages-->
                  <div class="banner_wrapper"></div>
                  <!-- Header Searchform area-->
                  <div class="search_wrapper">
                    <form method="get" id="searchform" action="#">
                      <input
                        type="text"
                        class="field"
                        name="s"
                        id="s"
                        placeholder="Enter your search"
                      />
                      <input
                        type="submit"
                        class="submit flv_disp_none"
                        value=""
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
