    <div id="Content">
      <div class="content_wrapper clearfix">
        <div class="sections_group">
          <div class="entry-content">
            <div class="section  no-margin-h no-margin-v">
              <div class="section_wrapper clearfix">
                <div class="items_group clearfix">
                  <!-- One Second (1/2) Column -->
                  <div class="column one-second column_column ">
                    <div class="column_attr" style=" padding:0 8%;">
                      <hr class="no_line" style="margin: 0 auto 70px;" />
                      <h3 class="" data-anim-type="fadeInLeft">Mid Career</h3>
                      <hr class="no_line hrmargin_b_30" />
                      <h2 class="" data-anim-type="fadeInLeft">中途採用</h2>
                      <hr class="no_line" style="margin: 0 auto 55px;" />
                      <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_tuning_sep3.png" alt=""
                            width="193" height="4" /> </div>
                      </div>
                      <hr class="no_line" style="margin: 0 auto 50px;" />
                      <h4 class="" data-anim-type="fadeInLeft">中途採用の募集</h4>
                      <p class="" data-anim-type="fadeInLeft">
                        これまでの仕事で得た経験や技術を活かし、思う存分働きたい。<br>そんな熱い思いを胸に秘める経験豊かな人材を、まるよし工業は求めています。　 </p>
                    </div>
                  </div>
                  <!-- One Second (1/2) Column -->
                  <div class="column one-second column_column ">
                    <div class="column_attr" style=" padding:0 8%;">
                      <hr class="no_line" style="margin: 0 auto 70px;" />
                      <h3 class="" data-anim-type="fadeInLeft">New Graduate</h3>
                      <hr class="no_line hrmargin_b_30" />
                      <h2 class="" data-anim-type="fadeInLeft">新卒採用</h2>
                      <hr class="no_line" style="margin: 0 auto 55px;" />
                      <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="/images/home_tuning_sep3.png" alt=""
                            width="193" height="4" /> </div>
                      </div>
                      <hr class="no_line" style="margin: 0 auto 50px;" />
                      <h4 class="" data-anim-type="fadeInLeft">新卒採用の実施</h4>
                      <p class="" data-anim-type="fadeInLeft">
                        平成30年より、新卒採用の実施をスタート。<br>『地元で働きたい』と考えている若い人材の確保と育成に注力しています。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section full-width sections_style_0 " data-anim-type="fadeInUp" style="margin-top:120px;">
              <div class="section_wrapper clearfix">
                <div class="items_group clearfix">
                  <!-- One full width row-->
                  <div class="column one column_portfolio_photo ">
                    <div class="portfolio-photo ">
                      <div class="portfolio-item"> <a class="portfolio-item-bg" href="/recruit/"><img width="1920"
                            height="800" src="/images/fix/24.jpg" class="attachment-full wp-post-image"
                            alt="home_tuning_portfolio3" />
                          <div class="mask"></div>
                        </a> <a class="portfolio-details" href="/recruit/" target="_blank">
                          <div class="details">
                            <h4 class="title">募集職種</h4>
                            <div class="categories"> 詳しくは採用情報サイトへ </div>
                          </div>
                          <span class="more">
                            <h4>Read More</h4>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section the_content no_content">
              <div class="section_wrapper">
                <div class="the_content_wrapper"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
