        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section sections_style_0 ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Sixth (1/6) Column -->
                                    <div class="column one-sixth column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_image ">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid"
                                                    src="/images/home_tuning_contact_logo.jpg" alt="" width="108"
                                                    height="230" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one-second column_column ">
                                        <div class="column_attr" style=" padding:0 13% 0 0;">
                                            <hr class="no_line" style="margin: 0 auto 70px;" />
                                            <h3 class="" data-anim-type="fadeInRight">Email Successfully Sent!
                                            </h3>
                                            <hr class="no_line hrmargin_b_30" />
                                            <h2 class="" data-anim-type="fadeInRight">送信完了</h2>
                                            <hr class="no_line" style="margin: 0 auto 55px;" />
                                            <div
                                                class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class="image_wrapper"><img class="scale-with-grid"
                                                        src="/images/home_tuning_sep3.png" alt="" width="193"
                                                        height="4" />
                                                </div>
                                            </div>
                                            <hr class="no_line" style="margin: 0 auto 50px;" />
                                            <h4 class="" data-anim-type="fadeInRight">
                                                お問い合わせありがとうございます。Eメールの送信が完了いたしました。2~3営業日中に折り返しご連絡いたします。もし折り返しご連絡がない場合は、入力ミス等により連絡が取れなくなっていることが考えられます。
                                                お手数をお掛けしますが、再度お電話かお問い合わせフォームにてお問い合わせ下さい。</h4>
                                        </div>
                                    </div>
                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider ">
                                        <hr class="no_line hrmargin_b_40" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section sections_style_0 ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_column ">
                                        <div class="column_attr align_center">
                                            <div
                                                class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                <div class="image_wrapper"><img class="scale-with-grid"
                                                        src="/images/home_tuning_sep2.png" alt="" width="4"
                                                        height="193" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section the_content no_content">
                            <div class="section_wrapper">
                                <div class="the_content_wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
