  <!-- header.htmlの読み込み -->
  <header id="header">
    <h1><a href="/recruit/"><img src="/recruit/assets/images/logo.svg" alt="有限会社まるよし工業"></a></h1>
    <section id="interview">
      <div class="l-container">
        <div class="header">
          <img src="/recruit/assets/images/interview-hero.svg" alt="社員インタビュー">
        </div>
      </div>
    </section>
    <!-- Navigation -->
    <section id="navigation">
      <nav id="global-nav">
        <div class="l-container">
          <ul>
            <li><a href="/recruit/">トップ</a></li>
            <li><a href="/recruit/interview">社員インタビュー</a></li>
            <li><a href="/recruit/job">募集要項</a></li>
            <li><a href="/recruit/entry">応募フォーム</a></li>
            <li><a href="https://maruyoshi-ironworks.com" target="_blank">まるよし工業企業サイト</a></li>
          </ul>
        </div>
      </nav>
    </section>
  </header> <!-- main -->
  <main>

    <section id="interview-1">
      <div class="l-container">
        <div class="plex" data-wrap="wrap" data-justify="between" data-gutter="normal">
          <article class="plex column" data-option="column" data-column="4" data-justify="start" data-align="center" data-gutter="normal">
            <div class="plex column" data-column="12" data-gutter="normal" data-align="center">
              <div class="column" data-column="3">
                <p>INTERVIEW</p>
                <p>01</p>
              </div>
              <div class="column" data-column="9">
                <p>製造部門&nbsp;K&nbsp;常務取締役</p>
                <p>平成9年入社</p>
              </div>
            </div>
            <div>
              <img src="/recruit/assets/images/speech-bubble-green.svg" alt="">
              <img src="/recruit/assets/images/interview-illust-1.svg" alt="">
            </div>
            <p>10代半ばから先代社長の元で働き、会社を支えてきました。会社が小さいころから、まるよし工業の進化を支えて来た中の一人。社会人歴もまるよし工業歴も23年です。</p>
          </article>
          <article class="column" data-column="8">
            <h2>まるよし工業の基礎をつくり、製造部門を支えてきた</h2>
            <hr>
            <div>
              <h3>ー20年以上、まるよし工業の変化をご存知だと思うのですが。</h3>
              <p>会社も現在の場所ではなく、秋田市仁井田にあったころから知っています。会社の規模も人員も、今とは比べものにならないほ
                ど小さなものでした。できることはなんでもやっていました。時代が違う感じがします。
              </p>
              <h3>ー今とは隔世の感があるということですか。</h3>
              <p>組織としては、かなり変わりましたね。とくに、私が所属している工場ではMグレードを取得した平成22年ごろから、社員も充実
                し、作業の分担ができるようになりました。それによって作業にいくつかの流れができ、スケジュール管理をしながら効率的に
                仕事を進めるようになりました。工場の社員は熟練者が揃っています。全工程をこなせる技術を持った社員が、各部門を専任し
                ているので、技術も安定し、仕事の質も上がっています。<br>
                社長は新しい環境を踏まえたシステム作りに尽力しています。工程管理などはかなり明白にわかりやすくなっています。その変
                化の中で、私の仕事は社長と工場をつなぐパイプのような仕事だと思っています。</p>
              <h3>ーMグレードを取得した際に、どんな感想を持ちましたか。</h3>
              <p>時代の流れを考えるとMグレードは必須だと思っていたので、取れたときはほっとしました。この水準を落とさないように頑張
                っていかなければと気持ちが引き締まりました。
                5段階に分かれる基準の中でも、Mグレードは取得企業が一番多いので、逆にいうとライバルも多い。その中で生き残るために
                納品前に全数検査を行うことで品質を守り、絶対に納期を守るというルールを決め、お客様の信頼を得るように努力してきまし
                た。おかげで、信頼を寄せてくれる常連のお客様が増えています。
              </p>
              <h3>ーまるよし工業の仕事へのこだわりはありますか。</h3>
              <p>
                仕事の幅は、県内だけではなく、東北全般に広がっています。工場内で完成させた鐵骨類は遠方まで運ばれ、私たちの目に触れない現場で組み立てられることも多いです。だから「誤差のない仕事をして、不具合を出さない」仕事を目指しています。その「まるよし品質」こそが大切だと思っています。また、自分の仕事としては、ものづくりだけでなく管理の仕事へも力を注いでいます。その上で、自分たちのつくり出すものこそがナンバーワンだと誇りたいですね。
              </p>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section id="interview-2">
      <div class="l-container">
        <div class="plex" data-wrap="wrap" data-justify="between" data-gutter="normal">
          <article class="plex column" data-option="column" data-column="4" data-justify="start" data-align="center" data-gutter="normal">
            <div class="plex column" data-column="12" data-gutter="normal" data-align="center">
              <div class="column" data-column="3">
                <p>INTERVIEW</p>
                <p>02</p>
              </div>
              <div class="column" data-column="9">
                <p>製造部門&nbsp;K</p>
                <p>平成18年中途入社</p>
              </div>
            </div>
            <div>
              <img src="/recruit/assets/images/speech-bubble-orange.svg" alt="">
              <img src="/recruit/assets/images/interview-illust-2.svg" alt="">
            </div>
            <p>高校卒業後、異業種で7年ほど働いた後に鐵骨加工業に転職。工場でものをつくる仕事をしたいというのが転職の理由でした。社会人歴は24年、まるよし工業では10年目です。</p>
          </article>
          <article class="column" data-column="8">
            <h2>“自分はものづくりに向いている”その思いに引かれ、転職</h2>
            <hr>
            <div>
              <h3>ー鐵骨加工業に転職した理由はなんですか。</h3>
              <p>最初は、ルートセールスの仕事をしていました。7年ほど働いた時に、このままでいいのだろうかと自分の仕事と向き合いまし
                た。昔から体を使ってなにかをつくる作業が好きだったので、思い切って今の仕事に職を変えました。働いてみて、この仕事は
                自分向きだなと改めて感じています。
              </p>
              <h3>ーまるよし工業での仕事はどうですか。</h3>
              <p>今は溶接を担当していますが、15年以上の経験があり、どの仕事もこなせるという自負も持っています。工場のスタッフも経験豊
                富な人が多く、互いが互いの仕事を補佐しあえる安心感があります。自分で言うのもなんですが、人柄のいいチームだと思いま
                すよ（笑）。</p>
              <h3>ー鐵骨加工業の醍醐味はなんですか。</h3>
              <p>ありきたりかもしれませんが、完成した建物を見ている時の達成感だと思います。外側からは見えませんが、あの壁の中に自分
                の仕事が埋まっていると思うと感動します。
                ー働く上で大切にしていることを教えてください。
                働くことが当たり前すぎて言葉にしにくいですが、経験と時間を着実に積んで、腕を上げていくことです。今は主に溶接作業担
                当していますが、組み立て・溶接・一次加工という鐵骨加工のすべてを身につけ、オールラウンダーとして働きたいと思っていま
                す。
                実際の作業では、「早くて丁寧な仕事」を心がけています。図面に忠実であるだけでなく、現場で作業をするときに、図面では
                判断できない不具合が出ないように「直しのない」部品をつくることを目指しています。
              </p>
              <h3>ーまるよし工業のいいところはなんですか。</h3>
              <p>先ほども言いましたが、まるよし工業はチームとして仕事をする連携ができているので、誰かが自分の仕事を見ていてくれる感
                じがあります。守られているという安心感がすごくいいと思います。私が入社したのは、Mグレード取得後なので以前との比較
                はできませんが、仕事の質は上がっていると思います。
              </p>
            </div>
          </article>
        </div>
      </div>
    </section>



    <section id="cta">
      <div class="l-container">
        <article class="plex" data-justify="center" data-align="center">
          <a href="/recruit/entry">
            <img src="/recruit/assets/images/cta-button.svg" alt="">
          </a>
        </article>
      </div>
    </section>
    <div class="pageTop" id="imgChange">
      <a href="#header"><img src="/recruit/assets/images/cow.svg" alt="" width="100px" data-hover="/recruit/assets/images/cow-hover.svg"></a>
    </div>
  </main>
  <footer id="footer" class="plex" data-justify="center" data-align="center">
    <p>&copy; 2020- </p>
  </footer> <!-- 相対パスを修正 -->

