  <meta charset="UTF-8" />
  <meta name="description" content="サイトの説明文">
  <meta name="keywords" content="サイトのキーワード">
  <meta name="robots" content="index,follow">
  <meta name="author" content="サイトの著者名">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="正しいURL">
  <meta property="og:title" content="サイトのタイトル">
  <meta property="og:type" content="website">
  <meta property="og:url" content="サイトのURL">
  <meta property="og:image" content="サイトの画像URL">
  <meta property="og:description" content="サイトの説明文">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "サイトのURL",
      "name": "サイトの名前",
      "logo": "サイトのロゴのURL",
      "description": "サイトの説明文",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "サイトの電話番号",
        "contactType": "カスタマーサポート"
      },
      "sameAs": [
        "サイトのSNSのURL",
        "別のSNSのURL"
      ]
    }
  </script>

  <!-- pageDataのtitle情報を出力 -->
  <title></title>

  <!-- CSSの読み込みを追加 -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <script type="module" crossorigin src="/recruit/assets/js/main.js"></script>
  <link rel="stylesheet" href="/recruit/assets/css/style.css">
